<div *ngIf="country">
  <input
    type="text"
    #editBox
    id="edit-box"
    [value]="country.name | titlecase"
    (input)="editCountry(editBox.value)"
    class="countryInput countryInput--transparent"
  />

  <ul>
    <li
      *ngFor="let product of country.products"
      routerLink="/product/{{ product._id }}"
    >
      <span>{{ product.product | titlecase }}</span>
      {{ product.price_in_local }}
      {{ product.price_in_usd | currency: "USD" }}
      x{{ product.quantity_for_month }}
    </li>
  </ul>

  <button (click)="deleteCountry()">Delete</button>
</div>
