<div *ngIf="product || isProductAddComponent">
  <form [formGroup]="productForm" (ngSubmit)="onProductSubmit()">
    <input type="text" formControlName="product" />

    <input type="number" formControlName="price_in_local" />

    <input type="number" formControlName="price_in_usd" />

    <input type="number" formControlName="quantity_for_month" />

    <input *ngIf="isProductAddComponent" type="text" formControlName="country" />

    <button type="submit" [disabled]="!productForm.valid">Save</button>
  </form>
  <button *ngIf="!isProductAddComponent" (click)="deleteProduct()">
    Delete
  </button>
</div>
